// Place all the styles related to the menu_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu_items {
	table {
		
	}

	table tr td {
		padding: 20px;
		vertical-align: center;
	}

	.name {
		font-size: medium;
	}

	.size {
		font-size: medium;
	}

	.cost {
		font-size: medium;
	}

	.list_image {
		width: 60px;
		height: 70px;
	}

	.list_actions {
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
		padding: 5px;
	}

	.list_line_even {
		background: #e0f8f8;
	}

	.list_line_odd {
		background: #f8b0f8;
	}
}